html, body {
	margin: 0;
	height: 100%;
	font: 18px/24px sans-serif;
	background: #333;
	display: flex;
	flex-direction: column;
}

/* Layout */

.container {
	max-width: 900px;
	margin: 0 auto;
}

/* Header */

.website-header {
	min-height: 100vh;
	position: relative;
	background:  url(../img/bnaic-1.jpg) center no-repeat;
	background-size: cover;
	/*background-attachment: fixed;*/
	font-size: 1.25em;
	font-weight: 100;
	text-align: center;

	flex: 0 0 auto;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;

	overflow: hidden;
}

.website-header .text {
	flex: 0 0 auto;
	padding: 90px 20px 20px 20px;
	background: rgba(15, 127, 18, 0.6);
	color: white;
}

.website-header .text a {
	color: white;
}

.website-header h1 {
	background: url(../img/bnaic-logo.svg) center no-repeat;
	overflow: hidden;
	background-size: contain;
	width: 100%;
	max-width: 600px;
	height: 300px;
	margin: 0 auto;
	float: none;
	z-index: 2;
}

.website-header.small {
	margin-top: 2rem;
	min-height: 160px;
}

.website-header.small .text {
	flex: 1 1 auto;
	padding: 20px;
	text-align: left;
}

.website-header.small h1 {
	height: 100px;
	width: 200px;
	float: left;
	margin-top: -15px;
}

@media (max-width: 700px) {
	.website-header {
		min-height: initial;
	}

	.website-header.small {
		display: none;
	}
}

.website-navigation {
	position: absolute;
	top: calc(50vh - 230px);
	left: 0;
	right: 0;
	font-size: 1.1em;
	line-height: 2em;
	z-index: 10;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;

	transition: background-color ease-in-out 150ms;
}

.website-navigation a,
.website-navigation a:link,
.website-navigation a:visited {
	flex: 1 1 auto;
	display: inline-block;
	padding: 0 0.5em;
	margin: 0 0.5em;
	text-decoration: none;
	color: white;
	border-bottom: 2px solid white;
}

.website-navigation a:hover {
	background: white;
	color: black;
}

.website-navigation.fixed {
	position: fixed;
	top: 0;
	bottom: auto;
	background: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.website-navigation.fixed a,
.website-navigation.fixed a:link,
.website-navigation.fixed a:visited {
	color: black;
	border: 0;
}

.website-navigation.fixed a:hover,
.website-navigation.fixed a.active:hover {
	color: white;
	background: rgba(15, 127, 18, 1.0);
}

.website-navigation.fixed a.active {
	color: rgba(15, 127, 18, 1.0);
}

@media (max-width: 700px) {
	.website-navigation,
	.website-navigation.fixed {
		position: fixed;
		top: 0;
		bottom: auto;
		flex-direction: column;
		color: white;
	}

	.website-navigation.fixed {
		background: rgba(15, 127, 18, 1.0) url(../img/bnaic-logo-white-simple.svg) center 0.25em no-repeat;
		background-size: auto 1.5em;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	}

	.website-navigation a,
	.website-navigation a:link,
	.website-navigation a:visited,
	.website-navigation.fixed a,
	.website-navigation.fixed a:link,
	.website-navigation.fixed a:visited {
		padding: 0 0.5em;
		margin: 0;
		color: white;
		border: 0;
	}

	.website-navigation a:hover,
	.website-navigation a.active:hover,
	.website-navigation.fixed a:hover,
	.website-navigation.fixed a.active:hover {
		color: rgba(15, 127, 18, 1.0);
		background: white;
	}

	.website-navigation a.active,
	.website-navigation.fixed a.active {
		color: white;
		background: rgba(0, 0, 0, 0.1);
	}

	.website-navigation::before {
		content: '\2630';
		padding-left: 0.5em;
		display: block;
	}

	.website-navigation .container {
		max-height: 0;
		width: 100%;
		overflow: hidden;
		transition: max-height ease-in-out 150ms;
		display: flex;
		flex-direction: column;
		align-items: stretch;
	}

	.website-navigation:focus {
		outline: none;
		background-color: rgba(15, 127, 18, 1.0);
	}

	.website-navigation:focus .container {
		max-height: 100vh;
	}

	.website-navigation:focus + .website-content::before {
		content: '';
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.4);
	}
}

.website-content {
	flex: 1 1 auto;
	padding: 40px 20px;
	background: white;
	color: #333;
}

.website-content a:link,
.website-content a:visited {
	color: #1a7181;
}

.website-content a:active {
	color: #374763;
}

.website-content figure {
	margin: 1em 0;
	max-width: 100%;
}

.website-content figure img {
	max-width: 100%;
}

.website-content figure figcaption {
	font-size: 0.8em;
}

.website-content table th,
.website-content table td {
	vertical-align: top;
}

header h1 {
	background: url(../img/bnaic-logo.svg) center no-repeat;
	overflow: hidden;
	background-size: contain;
	height: 200px;
	color: rgba(0, 0, 0, 0.0);
}

body > footer {
	flex: 0 0 auto;
	color: white;
	padding: 20px;
}

footer a {
	color: inherit;
}

@media (max-width: 700px) {
	.website-content {
		padding: 20px;
	}
	
	body > footer {
		text-align: center;
	}
}

/* Registration form */
.form-grouping + .form-grouping {
	margin-top: 2em;
}

.form-group {
	display: block;
	margin-bottom: 0.125em;
}

.form-group label {
	box-sizing: border-box;
	display: block;
}

.form-group.required label::after {
	content: '*';
	color: red;
}

.form-group.choice ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.form-group.choice label.option::after {
	content: none;
}

.form-group input,
.form-group select {
	display: block;
	font: inherit;
}

.form-group input {
	box-sizing: border-box;
	width: 100%;
}

.form-group input[type=checkbox],
.form-group input[type=radio] {
	display: inline-block;
	width: auto;
}

.form-group .hint {
	background: #f55;
	padding: 0.25em 0.5em;
	color: white;
}

.form-controls {
	margin-top: 1em;
}

.form-controls button {
	display: inline-block;
	font: inherit;
	padding: 0.5em 1em;
	cursor: pointer;
}

@media (min-width: 700px) {
	/* Labels fit next to the field here */
	.form-group label:not(.option) {
		display: inline-block;
		width: 200px;
		text-align: right;
		padding-right: 1em;
	}

	.form-group input,
	.form-group select {
		display: inline-block;
	}

	.form-group.choice ul {
		display: inline-block;
		vertical-align: top;
	}

	.form-group.checkbox {
		margin-left: 200px;	
	}

	.form-group input:not([type=radio]):not([type=checkbox]) {
		width: 500px;
	}

	.form-group .hint,
	.form-controls {
		margin-left: 200px;
		max-width: 500px;
		box-sizing: border-box;
	}
}

/* Hotels */

.embedded-map {
	width: 100%;
	height: 450px;
}

.marker-label {
	background: url(https://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi-dotless.png) center no-repeat;
	background-size: contain;
	padding: 0.3em 0.6em 0.8em 0.7em;
	font-size: 0.5em;
	cursor: pointer;
}

.hotels {
	border-spacing: 0;
}

.hotels tr,
.hotels td {
	line-height: 1.66;
}

.hotels thead th {
	text-align: left;
	font-weight: normal;
	color: black;
}

.hotels thead .groups th {
	text-align: center;
}

.hotels tbody td {
	border-top: 1px solid #ccc;
}

.hotels .distance,
.hotels .price,
.hotels .breakfast {
	text-align: right;
}

.hotels .distance time::before {
	content: '/ ';
}

.hotels .notes td {
	border-top: 0;
	font-style: italic;
	padding-left: 1em;
	line-height: 1.33;
	padding-bottom: 0.33em;
	color: #333;
}

@media (max-width: 700px) {
	.hotels,
	.hotels tbody,
	.hotels tbody tr {
		display: block;
	}

	.hotels thead {
		display: none;
	}

	.hotels tbody tr {
		padding: 0.5em 0;
		border-bottom: 1px solid #ccc;
	}
	
	.hotels tbody td {
		display: inline;
		border: none;
	}

	.hotels td:nth-of-type(1) {
		display: block;
	}

	.hotels td:nth-of-type(3)::after {
		content: ' to Het Kasteel /';
	}

	.hotels td:nth-of-type(4)::after {
		content: ' to Martinitoren /';
	}

	.hotels td:nth-of-type(5)::after {
		content: ' to Station /';
	}

	.hotels td:nth-of-type(6)::after {
		content: ' /';
	}

	.hotels td:nth-of-type(7)::before {
		content: 'Breakfast ';
	}
}

/* Payment details */
.payment-details::after {
	content: '';
	display: block;
	clear: both;
}

.payment-details dt {
	font-weight: bold;
	float: left;
	width: 15ch;
	clear: both;
}

.payment-details dt::after {
	content: ':';
}

.payment-details dd {
	margin: 0 0 1em 1em;
	min-width: 35ch;
	float: left;
}

.rates th,
.rates td {
	padding-right: 1em;
}

.rates th {
	text-align: left;
}

.rates thead th {
	vertical-align: bottom;
}

.rates thead th:nth-of-type(1) {
	visibility: hidden;
}

.rates tbody th {
	font-weight: normal;
}

.rates .hide-on-overflow {
	display: none;
}

@media (min-width: 700px) {
	.rates .hide-on-overflow {
		display: initial;
	}

	.rates thead {
		display: none;
	}

	.rates tbody .early::before {
		content: 'early ';
	}

	.rates tbody .regular::before {
		content: 'regular ';
	}
}