html, body {
	margin: 0;
	height: 100%;
	font: 18px/24px sans-serif;
	background: #333;
}

/* Layout */

.container {
	max-width: 900px;
	margin: 0 auto;
}

/* Header */

.website-header {
	height: 100vh;
	position: relative;
	background:  url(../img/bnaic-1.jpg) center no-repeat;
	background-size: cover;
	/*background-attachment: fixed;*/
	font-size: 1.25em;
	font-weight: 100;
	text-align: center;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
}

.website-header .text {
	flex: 0 0 auto;
	padding: 20px 20px 120px 20px;
	background: rgba(15, 127, 18, 0.6);
	color: white;
}

.website-header .text a {
	color: white;
}

.website-header h1 {
	background: url(../img/bnaic-logo.svg) center no-repeat;
	overflow: hidden;
	background-size: contain;
	width: 100%;
	max-width: 600px;
	height: 300px;
	margin: 0 auto;
	float: none;
	z-index: 2;
}

.website-navigation a,
.website-navigation a:link,
.website-navigation a:visited {
	flex: 1 1 auto;
	display: inline-block;
	color: black;
	padding: 0 2em;
	text-decoration: none;
	color: white;
}

.website-navigation {
	position: absolute;
	top: calc(50vh + 210px);
	left: 0;
	right: 0;
	font-size: 1.25em;
	line-height: 2em;
	z-index: 10;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;

	transition: background ease-in-out 150ms;
}

.website-navigation.fixed {
	position: fixed;
	top: 0;
	bottom: auto;
	background: white;
}

.website-navigation.fixed a,
.website-navigation.fixed a:link,
.website-navigation.fixed a:visited {
	color: black;
}

.website-navigation a:hover {
	border-bottom: 3px solid white;
}

.website-navigation.fixed a:hover {
	background: rgba(15, 127, 18, 1.0);
	border-bottom: 0;
	color: white;
}

.website-content {
	padding: 20px 0;
	background: white;
}

header h1 {
	background: url(../img/bnaic-logo.svg) center no-repeat;
	overflow: hidden;
	background-size: contain;
	height: 200px;
	color: rgba(0, 0, 0, 0.0);
	float: left;
}

footer {
	color: white;
	padding: 20px 0;
}